In [155]:
import matplotlib.pyplot as plt
%matplotlib qt
from matplotlib import animation
from matplotlib.animation import FuncAnimation
import pandas as pd
import io
import numpy as np
import csv
import library as lib
import mplcursors

In [156]:
import library as lib

def torontoAVGPrices(fileName):
    col = {"year":1, "price":2}
    fileCount=0
    finalList = {}
    if fileName == 'ndata':
        fileCount = 18
    elif fileName == 'wdata':    
        fileCount  = 16
    elif fileName == 'edata':    
        fileCount  = 14
    elif fileName == 'sdata':    
        fileCount  = 16
    else:
        fileCount = 16
    for i in range(1,fileCount,1):
        curData = lib.loadList(f"csvprices/"+ fileName + str(i) +".csv")
        for j in curData:
            if j[0] in finalList:
                finalList[j[0]].append(int(j[1]))
            else:
                finalList[j[0]] = [int(j[1])]


    for key in finalList:
        res = 0
        for i in range(len(finalList[key])):
            res += finalList[key][i]
        finalList[key] = round(res/fileCount)

    return finalList

print ("North Region Average Prices")
nList = torontoAVGPrices("ndata")
ndataFrame = []
for i in nList:
    ndataFrame.append([i, nList[i]])
    
for i in ndataFrame:
    print(i)

print ("West Region Average Prices")
wList = torontoAVGPrices("wdata")
wdataFrame = []
for i in wList:
    wdataFrame.append([i, wList[i]])
    
for i in wdataFrame:
    print(i)
    
    
print ("East Region Average Prices")
eList = torontoAVGPrices("edata")
edataFrame = []
for i in eList:
    edataFrame.append([i, eList[i]])
    
for i in edataFrame:
    print(i)
    
print ("South Region Average Prices")
sList = torontoAVGPrices("sdata")
sdataFrame = []
for i in sList:
    sdataFrame.append([i, sList[i]])
    
for i in sdataFrame:
    print(i)

print ("Mid-Town Average Prices")
mList = torontoAVGPrices("mdata")
mdataFrame = []
for i in mList:
    mdataFrame.append([i, mList[i]])
    
for i in mdataFrame:
    print(i)

North Region Average Prices
['2000', 207446]
['2001', 217348]
['2002', 237351]
['2003', 251454]
['2004', 270956]
['2005', 291726]
['2006', 305119]
['2007', 325405]
['2008', 336384]
['2009', 354320]
['2010', 379830]
['2011', 411842]
['2012', 443813]
['2013', 478992]
['2014', 525343]
['2015', 584799]
['2016', 670371]
['2017', 758463]
['2018', 768437]
['2019', 792137]
['2020', 876872]
['2021', 962873]
West Region Average Prices
['2000', 207106]
['2001', 219409]
['2002', 240980]
['2003', 260500]
['2004', 275608]
['2005', 291469]
['2006', 302078]
['2007', 333328]
['2008', 341059]
['2009', 359707]
['2010', 383847]
['2011', 412166]
['2012', 444137]
['2013', 466062]
['2014', 508902]
['2015', 556329]
['2016', 630979]
['2017', 726394]
['2018', 750956]
['2019', 784646]
['2020', 857805]
['2021', 937451]
East Region Average Prices
['2000', 167981]
['2001', 177824]
['2002', 194884]
['2003', 209795]
['2004', 221348]
['2005', 233429]
['2006', 247931]
['2007', 262845]
['2008', 265504]
['2009', 280482]
['2010', 302739]
['2011', 327132]
['2012', 352820]
['2013', 377633]
['2014', 415199]
['2015', 459824]
['2016', 529556]
['2017', 604938]
['2018', 607215]
['2019', 622403]
['2020', 694481]
['2021', 764132]
South Region Average Prices
['2000', 261554]
['2001', 279214]
['2002', 307309]
['2003', 332313]
['2004', 355976]
['2005', 383176]
['2006', 411660]
['2007', 444914]
['2008', 463443]
['2009', 488319]
['2010', 525049]
['2011', 563674]
['2012', 606423]
['2013', 645449]
['2014', 704823]
['2015', 774368]
['2016', 874936]
['2017', 1002262]
['2018', 1031629]
['2019', 1090767]
['2020', 1198662]
['2021', 1319893]
Mid-Town Average Prices
['2000', 338998]
['2001', 360308]
['2002', 395696]
['2003', 438832]
['2004', 470694]
['2005', 505836]
['2006', 542826]
['2007', 584990]
['2008', 606901]
['2009', 630488]
['2010', 672527]
['2011', 721290]
['2012', 774822]
['2013', 837037]
['2014', 900454]
['2015', 999259]
['2016', 1123672]
['2017', 1255346]
['2018', 1293302]
['2019', 1353307]
['2020', 1486131]
['2021', 1640537]

In [157]:
ndf = pd.DataFrame(ndataFrame, columns =["year","price"])
ndf

    year   price
0   2000  207446
1   2001  217348
2   2002  237351
3   2003  251454
4   2004  270956
5   2005  291726
6   2006  305119
7   2007  325405
8   2008  336384
9   2009  354320
10  2010  379830
11  2011  411842
12  2012  443813
13  2013  478992
14  2014  525343
15  2015  584799
16  2016  670371
17  2017  758463
18  2018  768437
19  2019  792137
20  2020  876872
21  2021  962873

In [158]:
wdf = pd.DataFrame(wdataFrame, columns =["year","price"])
wdf

    year   price
0   2000  207106
1   2001  219409
2   2002  240980
3   2003  260500
4   2004  275608
5   2005  291469
6   2006  302078
7   2007  333328
8   2008  341059
9   2009  359707
10  2010  383847
11  2011  412166
12  2012  444137
13  2013  466062
14  2014  508902
15  2015  556329
16  2016  630979
17  2017  726394
18  2018  750956
19  2019  784646
20  2020  857805
21  2021  937451

In [159]:
edf = pd.DataFrame(edataFrame, columns =["year","price"])
edf

    year   price
0   2000  167981
1   2001  177824
2   2002  194884
3   2003  209795
4   2004  221348
5   2005  233429
6   2006  247931
7   2007  262845
8   2008  265504
9   2009  280482
10  2010  302739
11  2011  327132
12  2012  352820
13  2013  377633
14  2014  415199
15  2015  459824
16  2016  529556
17  2017  604938
18  2018  607215
19  2019  622403
20  2020  694481
21  2021  764132

In [160]:
sdf = pd.DataFrame(sdataFrame, columns =["year","price"])
sdf

    year    price
0   2000   261554
1   2001   279214
2   2002   307309
3   2003   332313
4   2004   355976
5   2005   383176
6   2006   411660
7   2007   444914
8   2008   463443
9   2009   488319
10  2010   525049
11  2011   563674
12  2012   606423
13  2013   645449
14  2014   704823
15  2015   774368
16  2016   874936
17  2017  1002262
18  2018  1031629
19  2019  1090767
20  2020  1198662
21  2021  1319893

In [161]:
mdf = pd.DataFrame(mdataFrame, columns =["year","price"])
mdf

    year    price
0   2000   338998
1   2001   360308
2   2002   395696
3   2003   438832
4   2004   470694
5   2005   505836
6   2006   542826
7   2007   584990
8   2008   606901
9   2009   630488
10  2010   672527
11  2011   721290
12  2012   774822
13  2013   837037
14  2014   900454
15  2015   999259
16  2016  1123672
17  2017  1255346
18  2018  1293302
19  2019  1353307
20  2020  1486131
21  2021  1640537

In [162]:
import matplotlib.pyplot as plt

#Sets length and width of graph

def createPlot():
    fig = plt.figure(figsize = (30,8))
    plt.rc('xtick', labelsize = 10, color = 'white')
    plt.rc('ytick', labelsize = 14, color = 'white')
    ax = plt.gca()
    fig.patch.set_facecolor('#3FBBC1')

def formatPlot(title, xLable, yLable):
    current_values = plt.gca().get_yticks()
    plt.gca().set_yticklabels(['$' + '{:,.0f}'.format(x) for x in current_values])
    
    ax = plt.gca()
    ax.set_facecolor('#3FBBC1')

    if xLable == 'North Neighbourhoods':
        nPriceCount = np.arange(17)
        nNeighbourhoods = ['Hillcrest-Village', 'Miliken', 'Humbermede', 'Willodale West', 'Bayview Village', 'Donvalley', 'Downsview', 
         'Steeles', 'Clanton Park', 'Glenfield-Jane', 'Mountolive', 'Humbersummit', 'Blackcreek', 'YorkUni-Heights', 'North-Baturst', 
         'Ntw.brookwest', 'Ntw.BrookEast']
        plt.xticks(nPriceCount, nNeighbourhoods, rotation=45)
        #correct this part of the code
    elif xLable == 'West Neighbourhoods':
        wPriceCount = np.arange(15)
        wNeighbourhoods = ['Claire Ville','Willoridge','Markland','Islington','Eringate','Alderwood','New Toronto',
        'Longbranch','Mimico','Queensway','Humbervalley','Rosethorn','Stonegate','Rexdale','Kipling']
        plt.xticks(wPriceCount, wNeighbourhoods, rotation=45)
    elif xLable == 'East Neighbourhoods':
        ePriceCount = np.arange(13)
        eNeighbourhoods = ['East Rogue','Malvem','Highland Creek','Rogue E10','Scarbourough','East Hill','Morning Side',
        'Guildwood','Scarbrg. vlg.','Woburn','Cliffcrest','Sunny Brook','Agincourt']
        plt.xticks(ePriceCount, eNeighbourhoods, rotation=45)
    elif xLable == 'South Neighbourhoods':
        sPriceCount = np.arange(15)
        sNeighbourhoods = ['South Riverdale','Beaches','Waterfront','Niagra','Parkdale','Birchcliff','Kensington',
        'Church Yonge','Roncesvalles','Swansea','Little Portugal','Trt. Bellwoods','Riverdale', 'Danforth', 'University']
        plt.xticks(sPriceCount, sNeighbourhoods, rotation=45)
    elif xLable == 'Midtown Neighbourhoods':
        mPriceCount = np.arange(15)
        mNeighbourhoods = ['York Mills','Banbury','Leaside','Beford-Nortown','Englemnt.-Lrnc.','Forest Hill','Yonge-Eglinton',
        'Mount Pleasent','Moore Park','Victoria Village','Annex','Oakwood','Yonge St.Clair', 'Casa Loma', 'Broadview']
        plt.xticks(mPriceCount, mNeighbourhoods, rotation=45)

    #createes a legend
    legend = plt.legend(bbox_to_anchor=(1,1), ncol=1, fontsize = 9, fancybox=True, framealpha=1, shadow=True, borderpad=1, facecolor="#3FBBC1")
    plt.setp(legend.get_texts(), color='w')
    #font variable
    font1 = {'family':'fantasy','color':'white','size':25}

    #plotting labels and customizing labels
    plt.xlabel(xLable, fontsize = 15, fontdict = font1, labelpad=5)
    plt.ylabel(yLable, fontsize = 17, fontdict = font1, labelpad=5)
    plt.title(title, fontsize = 25, fontdict = font1,  y=1.02)
    plt.grid(axis = 'y', color = 'w', linestyle = ':', linewidth = 1)
    plt.grid(axis = 'x', color = 'w', linestyle = 'solid', linewidth = 1)

    mplcursors.cursor(hover=True)

createPlot()

plt.plot(ndf.year, ndf.price, color='#FF5733', linewidth=5,
         marker='o', markerfacecolor='white', markeredgewidth=2,
         markersize=9, markevery=1, label = "North")

plt.plot(wdf.year, wdf.price, color='#08F7FE', linewidth=5,
         marker='o', markerfacecolor='white', markeredgewidth=2,
         markersize=9, markevery=1, label = "West")

plt.plot(edf.year, edf.price, color='#FFFF00', linewidth=5,
         marker='o', markerfacecolor='white', markeredgewidth=2,
         markersize=9, markevery=1, label = "East")

plt.plot(sdf.year, sdf.price, color='g', linewidth=5,
         marker='o', markerfacecolor='white', markeredgewidth=2,
         markersize=9, markevery=1, label = "South")

plt.plot(mdf.year, mdf.price, color='black', linewidth=5,
         marker='o', markerfacecolor='white', markeredgewidth=2,
         markersize=9, markevery=1, label = "Midtown")

graphTitle = 'Average Home Prices In Different Regions of Toronto from 2000 To 2021'
formatPlot(graphTitle, 'Year', 'Price')
plt.show()

/var/folders/x_/ydj0f5hs4hz8394ld3jxyr7h0000gp/T/ipykernel_6943/2841404798.py:14: UserWarning: FixedFormatter should only be used together with FixedLocator
  plt.gca().set_yticklabels(['$' + '{:,.0f}'.format(x) for x in current_values])

In [163]:
def torontoPrices(fileName):
    col = {"year":1, "price":2}
    fileCount=0
    finalList = {}
    if fileName == 'ndata':
        fileCount = 18
    elif fileName == 'wdata':    
        fileCount  = 16
    elif fileName == 'edata':    
        fileCount  = 14
    elif fileName == 'sdata':    
        fileCount  = 16
    else:
        fileCount = 16

    for i in range(1,fileCount,1):
        curData = lib.loadList(f"csvprices/"+ fileName + str(i) +".csv")
        for j in curData:
            if j[0] in finalList:
                finalList[j[0]].append(int(j[1]))
            else:
                finalList[j[0]] = [int(j[1])]

    return finalList


print ("North Rgion Average Prices")
nPList = torontoPrices("ndata")
nPdataFrame = []
for i in nPList:
    nPdataFrame.append([i, nPList[i]])
    
for i in nPdataFrame:
    print(i)

#for testing the data
print(nPdataFrame[1][1])

wPList = torontoPrices("wdata")
wPdataFrame = []
for i in wPList:
    wPdataFrame.append([i, wPList[i]])
    
for i in wPdataFrame:
    print(i)
    

ePList = torontoPrices("edata")
ePdataFrame = []
for i in ePList:
    ePdataFrame.append([i, ePList[i]])
    
for i in ePdataFrame:
    print(i)

sPList = torontoPrices("sdata")
sPdataFrame = []
for i in sPList:
    sPdataFrame.append([i, sPList[i]])
    
for i in sPdataFrame:
    print(i)

mPList = torontoPrices("mdata")
mPdataFrame = []
for i in mPList:
    mPdataFrame.append([i, mPList[i]])
    
for i in mPdataFrame:
    print(i)

#ndf = pd.DataFrame(ndataFrame, columns =["year","price"])

North Rgion Average Prices
['2000', [231822, 183581, 158756, 289727, 307505, 218088, 193569, 193780, 243570, 155678, 159485, 186194, 226633, 226633, 226633, 238380, 293985]]
['2001', [244679, 192999, 168520, 306173, 312389, 231323, 201113, 205799, 238905, 161809, 166755, 199180, 240579, 240579, 240579, 250200, 310676]]
['2002', [265875, 210982, 182593, 326077, 341792, 231198, 221910, 223149, 283047, 178729, 182906, 218147, 266543, 266543, 266543, 271161, 335130]]
['2003', [285713, 192904, 123661, 350909, 367120, 273548, 239129, 243308, 307358, 194707, 196719, 234497, 287250, 287250, 287250, 293087, 361754]]
['2004', [237805, 230390, 208847, 397639, 392492, 288921, 262652, 254208, 331782, 202896, 207864, 242563, 308331, 308331, 308331, 309963, 384193]]
['2005', [323442, 252579, 219671, 403117, 413683, 311070, 288360, 269173, 352415, 217956, 218568, 252799, 328301, 328301, 328301, 333212, 410126]]
['2006', [343904, 266113, 228883, 432564, 442589, 320272, 277637, 260298, 376336, 225689, 227613, 262356, 347004, 347004, 347004, 351018, 435858]]
['2007', [363250, 281399, 243101, 456715, 484417, 319336, 297404, 301928, 404006, 237216, 240304, 277149, 369309, 369309, 369309, 377485, 465647]]
['2008', [372649, 291440, 252689, 477514, 504698, 337904, 307075, 310127, 414434, 240429, 243197, 285951, 381534, 381534, 381534, 395104, 477106]]
['2009', [390468, 304139, 263265, 491333, 535422, 374824, 317250, 330310, 435239, 250862, 254565, 301234, 401871, 401871, 401871, 420545, 502685]]
['2010', [422008, 333084, 272194, 525318, 564713, 414243, 357269, 338410, 465936, 268642, 271511, 325368, 428880, 428880, 428880, 453432, 538170]]
['2011', [456154, 358500, 282601, 579866, 632834, 449792, 370413, 383040, 508559, 286118, 291077, 348558, 465053, 465053, 465053, 488800, 581676]]
['2012', [497623, 318043, 298683, 642497, 714567, 491149, 398098, 414112, 550680, 310798, 314890, 373424, 504372, 504372, 504372, 528400, 622549]]
['2013', [532207, 418205, 344354, 692576, 773248, 497446, 423026, 439612, 587225, 331899, 337457, 392859, 539282, 539282, 539282, 563990, 669904]]
['2014', [583927, 465504, 376481, 756234, 832648, 570083, 463115, 490139, 636457, 363735, 372034, 426555, 586274, 586274, 586274, 621618, 738829]]
['2015', [658309, 511703, 413873, 850568, 936314, 635543, 506359, 539621, 697549, 399318, 411318, 468260, 656790, 656790, 656790, 701383, 825892]]
['2016', [771453, 580005, 447666, 1008729, 1135572, 736574, 578067, 624060, 796910, 457450, 326339, 538553, 757107, 757107, 757107, 812560, 981421]]
['2017', [863491, 662878, 538667, 1140842, 1286919, 826988, 663618, 692438, 911328, 526937, 542907, 624968, 777762, 777762, 777762, 918388, 1118672]]
['2018', [855647, 646634, 545535, 1220549, 1282308, 830316, 678579, 693614, 904743, 537069, 551471, 644561, 803520, 803520, 803520, 919985, 1110291]]
['2019', [866676, 693970, 574106, 1159347, 1146655, 829416, 722876, 721663, 941393, 562615, 589948, 701423, 897054, 897054, 897054, 944864, 1112356]]
['2020', [950057, 762757, 631823, 1262422, 1377985, 946025, 798428, 787781, 1034754, 619210, 648923, 767663, 978190, 978190, 978190, 1037996, 1223307]]
['2021', [1045014, 832055, 696397, 1392280, 1510061, 1028451, 874646, 869652, 1140715, 682529, 714590, 846409, 1077562, 1077562, 1077562, 1132049, 1334188]]
[244679, 192999, 168520, 306173, 312389, 231323, 201113, 205799, 238905, 161809, 166755, 199180, 240579, 240579, 240579, 250200, 310676]
['2000', [167439, 230299, 229673, 229418, 195526, 194516, 257086, 207290, 210126, 348452, 325062, 229132, 185055, 152311, 152311]]
['2001', [175133, 238250, 246777, 241501, 208750, 207212, 273542, 224373, 222052, 375543, 332127, 248811, 195882, 160299, 160299]]
['2002', [190171, 250593, 270769, 266760, 229267, 226604, 303053, 248707, 245258, 415060, 369799, 276166, 213312, 175083, 175083]]
['2003', [205309, 264367, 293236, 294645, 247401, 246554, 324829, 268380, 264914, 454530, 391562, 300703, 232099, 189735, 189735]]
['2004', [217092, 280992, 313597, 318510, 261465, 260377, 346542, 268820, 283052, 477870, 425534, 312399, 245688, 198896, 198896]]
['2005', [231065, 303795, 332708, 343547, 281313, 277743, 369724, 296812, 301482, 520125, 444915, 326360, 265051, 184433, 184433]]
['2006', [241699, 322210, 351328, 369787, 295707, 294077, 393832, 321080, 317843, 538086, 331181, 346320, 274357, 217873, 217873]]
['2007', [259111, 346102, 373406, 395390, 311980, 317854, 419146, 343310, 333907, 586386, 517708, 376670, 289662, 231307, 231307]]
['2008', [263864, 345401, 382154, 409294, 316950, 328370, 428755, 350597, 343251, 604106, 541377, 388606, 290595, 231813, 231813]]
['2009', [278282, 363446, 406217, 430981, 335525, 343905, 454715, 368920, 358832, 635987, 577140, 408025, 308585, 242377, 242377]]
['2010', [294250, 374652, 425781, 466606, 362624, 369128, 485750, 401229, 392096, 672287, 607339, 437454, 332991, 259682, 259682]]
['2011', [319900, 404521, 461421, 499911, 389895, 397549, 527442, 430855, 419655, 712353, 649425, 467141, 352494, 281048, 281048]]
['2012', [343052, 427319, 491960, 532406, 419051, 427322, 571530, 504537, 444550, 761763, 714563, 494589, 370387, 301580, 301580]]
['2013', [364410, 456812, 517914, 557819, 438737, 455595, 609987, 505398, 472093, 803499, 715869, 525298, 394758, 319405, 319405]]
['2014', [396902, 491067, 560358, 608883, 477037, 498064, 662738, 560384, 542121, 863559, 768022, 569087, 438406, 352898, 352898]]
['2015', [432130, 530349, 608467, 664913, 516526, 554393, 719744, 608565, 570723, 944972, 873353, 622870, 481580, 386343, 386343]]
['2016', [500208, 600144, 696854, 763071, 599340, 639204, 717915, 702088, 670833, 1070165, 983347, 710671, 548090, 446865, 446865]]
['2017', [578011, 688647, 797202, 858002, 679077, 735639, 943749, 802191, 751287, 1246140, 1085857, 811991, 613792, 515362, 515362]]
['2018', [595233, 700585, 810446, 869162, 690430, 741921, 1037750, 824357, 860866, 1295262, 1105827, 818966, 619402, 522547, 522547]]
['2019', [626246, 737394, 836818, 910707, 722193, 787315, 1038238, 880837, 896188, 1357499, 1151025, 863460, 645682, 550365, 550365]]
['2020', [688397, 809410, 919976, 998134, 793935, 866679, 1141776, 969229, 910876, 1491590, 1262760, 951520, 710021, 605290, 605290]]
['2021', [737916, 868125, 984229, 1070869, 865621, 946147, 1258276, 1060805, 1002304, 1643827, 1391807, 1051617, 783318, 667177, 667177]]
['2000', [293985, 148218, 175372, 177865, 169957, 151804, 151961, 182135, 180995, 166540, 185766, 183631, 183504]]
['2001', [310676, 155773, 186379, 189234, 181040, 163337, 160312, 190488, 192210, 175845, 197552, 193315, 193370]]
['2002', [335130, 171182, 205344, 203315, 198284, 178832, 176632, 215071, 211304, 193079, 216447, 211529, 212220]]
['2003', [361754, 184049, 221729, 218037, 212873, 192057, 190067, 230709, 229783, 207871, 235260, 225783, 227157]]
['2004', [384193, 192043, 232764, 228900, 240500, 201040, 204974, 244090, 235327, 217876, 247730, 230633, 238801]]
['2005', [410126, 200731, 245430, 242125, 241594, 211066, 212054, 260983, 249148, 228773, 262377, 251882, 251716]]
['2006', [435858, 207248, 259106, 255795, 271305, 219815, 222868, 282628, 272519, 238203, 277001, 266134, 262554]]
['2007', [465647, 220527, 282377, 272058, 271749, 229057, 234880, 297044, 300791, 251541, 291282, 283744, 279129]]
['2008', [477106, 224363, 248693, 280251, 272182, 234565, 237491, 298856, 307699, 258026, 301375, 291269, 285177]]
['2009', [502685, 236138, 309585, 297499, 286149, 244502, 248222, 299382, 309565, 273407, 314117, 304941, 300552]]
['2010', [538170, 253414, 340957, 323563, 308910, 263096, 269703, 324896, 325256, 294896, 337390, 333012, 325088]]
['2011', [581676, 274605, 353812, 348303, 334086, 289225, 292005, 350716, 349088, 316823, 376057, 360102, 353354]]
['2012', [622549, 296188, 379594, 372538, 356131, 314639, 314945, 387817, 374335, 338312, 408306, 392135, 381989]]
['2013', [669904, 316939, 403126, 407570, 382255, 335678, 338820, 411820, 401294, 361727, 427781, 418121, 411830]]
['2014', [738829, 348568, 451448, 446555, 418317, 368068, 371060, 450290, 443040, 396910, 457812, 465663, 456226]]
['2015', [825892, 388009, 501080, 493605, 464907, 407779, 412210, 488671, 487200, 439379, 513616, 512670, 502511]]
['2016', [981421, 453648, 570111, 556168, 532398, 467738, 477496, 560425, 554438, 504916, 595634, 585078, 574308]]
['2017', [1118672, 521477, 648978, 644110, 618430, 540349, 548591, 637991, 626706, 579242, 675784, 662799, 646007]]
['2018', [1110291, 528301, 639574, 643782, 618112, 550395, 550179, 640876, 637188, 586290, 679103, 667159, 649754]]
['2019', [1112356, 413735, 661988, 672387, 649079, 584206, 572964, 663005, 664672, 626557, 723830, 695137, 673729]]
['2020', [1223307, 611648, 727577, 739317, 713698, 642626, 629664, 728215, 730640, 676839, 795874, 762930, 740395]]
['2021', [1334188, 673329, 801440, 815273, 786566, 708220, 693645, 801741, 805669, 744963, 876870, 840875, 815076]]
['2000', [224635, 290913, 379054, 263366, 230876, 216653, 267935, 313245, 275853, 276747, 260314, 301863, 311506, 209343, 362567]]
['2001', [242042, 307831, 401283, 283475, 246287, 229814, 280214, 331718, 298292, 293095, 279044, 325293, 332506, 220818, 395717]]
['2002', [271357, 340067, 424106, 312302, 275545, 254107, 307073, 364399, 327649, 320430, 309087, 358700, 361882, 247130, 443106]]
['2003', [294555, 369282, 460104, 339437, 298028, 274137, 335615, 390947, 355648, 346274, 339185, 375600, 389989, 269356, 478854]]
['2004', [315727, 396334, 501294, 371432, 319304, 288805, 356054, 424268, 379388, 368479, 362503, 402070, 417147, 287563, 505241]]
['2005', [339069, 422443, 546858, 397730, 352493, 313773, 384973, 454986, 409896, 394985, 388674, 428397, 452363, 305084, 539088]]
['2006', [363926, 458384, 596024, 436580, 381025, 335176, 412188, 487655, 441344, 417656, 412168, 456023, 478706, 324548, 585164]]
['2007', [399493, 495453, 632633, 468092, 420040, 362842, 461707, 515033, 478964, 451984, 436787, 498241, 528811, 350034, 618512]]
['2008', [422000, 510768, 644581, 468849, 436004, 367487, 508475, 537285, 500615, 468669, 457062, 526258, 544660, 365987, 656392]]
['2009', [443998, 538276, 679225, 484433, 466289, 389087, 534736, 576797, 529689, 492400, 478870, 544958, 580689, 393329, 680323]]
['2010', [480228, 581478, 727491, 535581, 503473, 414618, 557209, 602792, 574443, 529918, 517574, 598526, 607887, 431967, 737592]]
['2011', [518665, 623558, 774448, 598970, 544480, 440653, 562180, 656156, 622509, 571060, 560166, 651964, 655581, 461836, 776562]]
['2012', [565414, 662983, 825733, 653075, 584009, 466488, 598447, 710775, 675212, 612277, 610425, 711986, 699794, 491178, 834973]]
['2013', [599753, 695415, 885182, 690109, 628445, 486833, 682031, 756986, 720372, 648738, 652731, 759675, 747108, 515990, 857822]]
['2014', [655043, 765290, 976312, 741310, 690786, 535270, 764466, 835539, 785485, 701040, 706102, 827106, 812227, 570076, 911119]]
['2015', [719955, 825464, 1067442, 846459, 759614, 598551, 822998, 909672, 882169, 779643, 778600, 912800, 885951, 618836, 981728]]
['2016', [834525, 954474, 1200360, 984423, 849790, 694648, 883519, 1028042, 996502, 798044, 906884, 1029711, 1014192, 709457, 1114402]]
['2017', [960839, 1071601, 1362281, 1104188, 978305, 788015, 987524, 1148373, 1165026, 1024320, 1055211, 1173221, 1160261, 803373, 1253662]]
['2018', [1000628, 1128856, 1363584, 1095001, 1000350, 794998, 1038673, 1165271, 1192132, 1049170, 1108210, 1236055, 1190994, 836071, 1306076]]
['2019', [1058586, 1163644, 1457506, 1170666, 1071756, 826014, 1082614, 1226379, 1266023, 1108330, 1149684, 1309085, 1263523, 873151, 1425314]]
['2020', [1162613, 1276707, 1603470, 1286599, 1179843, 907230, 1187071, 1348134, 1390911, 1219056, 1264666, 1438280, 1387874, 957829, 1568315]]
['2021', [1279431, 1406402, 1766769, 1416511, 1299964, 997843, 1305738, 1482890, 1529696, 1343994, 1393148, 1584286, 1526715, 1057147, 1727757]]
['2000', [492537, 291312, 312213, 381367, 246214, 530487, 355589, 330453, 512272, 186980, 442765, 194521, 471250, 447631, 228383]]
['2001', [533715, 311968, 333690, 397980, 257087, 563427, 380372, 353377, 544066, 197975, 455559, 207580, 487005, 496736, 244395]]
['2002', [610259, 341610, 366793, 423488, 283896, 628330, 415711, 386725, 580926, 216013, 497406, 228714, 542151, 536742, 272365]]
['2003', [690922, 372911, 433637, 454855, 307872, 704594, 449306, 425381, 638093, 234885, 542106, 245138, 595985, 623029, 302602]]
['2004', [768640, 401229, 433637, 504636, 328214, 747167, 475766, 450495, 685663, 250476, 588603, 258301, 645591, 670056, 322626]]
['2005', [789413, 428386, 468352, 555050, 346536, 781824, 506057, 489002, 751811, 268517, 657153, 274736, 703339, 733624, 339579]]
['2006', [841972, 458093, 505026, 603008, 370573, 835801, 541923, 530829, 821731, 280750, 696558, 293851, 776705, 775059, 353341]]
['2007', [871956, 491474, 551399, 642203, 393132, 936416, 581565, 573501, 893744, 298233, 768285, 318766, 850825, 812095, 376248]]
['2008', [914873, 516520, 568398, 649021, 405348, 968322, 607065, 603330, 916313, 306040, 781314, 331295, 879094, 870479, 392999]]
['2009', [933023, 542014, 597682, 664966, 431512, 1005443, 642055, 635989, 937228, 323537, 825579, 350133, 879567, 899560, 419519]]
['2010', [1020728, 585608, 632027, 711610, 463185, 1059288, 687963, 676965, 983954, 353420, 876740, 377063, 916973, 962211, 452701]]
['2011', [1104770, 628817, 683486, 773478, 495549, 1181645, 741075, 729209, 1034460, 379046, 923797, 405539, 968815, 1004927, 486030]]
['2012', [1210724, 683648, 726409, 834623, 518006, 1252577, 797691, 770907, 1098012, 411902, 983075, 436836, 1061931, 1073066, 537737]]
['2013', [1273511, 742885, 779272, 882709, 575692, 1285861, 839049, 814064, 1164717, 436201, 1042588, 467138, 1115145, 1157802, 815958]]
['2014', [1410661, 812005, 849287, 957990, 634182, 1367294, 908432, 884782, 1293867, 474379, 1157699, 529069, 1198223, 1268023, 661372]]
['2015', [1548628, 904318, 934715, 1050321, 704006, 1491311, 986059, 991061, 1416729, 521273, 1282735, 615281, 1431193, 1402330, 708179]]
['2016', [1718238, 1054528, 1064091, 1188092, 797399, 1708850, 1135021, 1155157, 1570983, 598128, 1426659, 693929, 1526918, 1534945, 805814]]
['2017', [1892021, 1178221, 1204169, 1356194, 907565, 1827874, 1135021, 1334943, 1753693, 685381, 1657101, 798157, 1748662, 1707485, 899045]]
['2018', [1878052, 1159870, 1238794, 1371648, 926453, 1987325, 1291093, 1333454, 1826573, 692000, 1744087, 809739, 1784649, 1730871, 918227]]
['2019', [1969198, 1179310, 1297771, 1424787, 974179, 2122089, 1328906, 1410880, 1913322, 717227, 1870575, 829896, 1843061, 1831211, 940496]]
['2020', [2162578, 1296397, 1426280, 1565380, 1071082, 2331883, 1457050, 1549692, 2100527, 788497, 2051464, 910126, 2025293, 2009455, 1032389]]
['2021', [2383374, 1429371, 1572435, 1724927, 1180785, 2570998, 1609981, 1706013, 2314619, 869180, 2255395, 1000861, 2280724, 2213406, 1136526]]

In [164]:
import matplotlib.pyplot as plt
import random
from random import randint

createPlot()
nPriceCount = np.arange(17)
for i in range(0,22,1):
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.plot(nPriceCount, nPdataFrame[i][1], color=lineColor, linewidth=4,
         marker='o', markerfacecolor='white', markeredgewidth=2,
         markersize=8, markevery=1, label = str(nPdataFrame[i][0]) +" Prices")
    


formatPlot('Home Prices In Different Neighbourhoods of North Toronto from 2000 To 2021', 'North Neighbourhoods', 'Price')
plt.show()

createPlot()
wPriceCount = np.arange(15)
for i in range(0,22,1):
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.plot(wPriceCount, wPdataFrame[i][1], color=lineColor, linewidth=4,
         marker='o', markerfacecolor='white', markeredgewidth=2,
         markersize=8, markevery=1, label = str(wPdataFrame[i][0]) +" Prices")
formatPlot('Home Prices In Different Neighbourhoods of West Toronto from 2000 To 2021', 'West Neighbourhoods', 'Price')
plt.show()

createPlot()
ePriceCount = np.arange(13)
for i in range(0,22,1):
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.plot(ePriceCount, ePdataFrame[i][1], color=lineColor, linewidth=4,
         marker='o', markerfacecolor='white', markeredgewidth=2,
         markersize=8, markevery=1, label = str(wPdataFrame[i][0]) +" Prices")
formatPlot('Home Prices In Different Neighbourhoods of East Toronto from 2000 To 2021', 'East Neighbourhoods', 'Price')
plt.show()

createPlot()
sPriceCount = np.arange(15)
for i in range(0,22,1):
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.plot(sPriceCount, sPdataFrame[i][1], color=lineColor, linewidth=4,
         marker='o', markerfacecolor='white', markeredgewidth=2,
         markersize=8, markevery=1, label = str(sPdataFrame[i][0]) +" Prices")
formatPlot('Home Prices In Different Neighbourhoods of South Toronto from 2000 To 2021', 'South Neighbourhoods', 'Price')
plt.show()

createPlot()
mPriceCount = np.arange(15)
for i in range(0,22,1):
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.plot(mPriceCount, mPdataFrame[i][1], color=lineColor, linewidth=4,
         marker='o', markerfacecolor='white', markeredgewidth=2,
         markersize=8, markevery=1, label = str(mPdataFrame[i][0]) +" Prices")
formatPlot('Home Prices In Different Neighbourhoods of Midtown Toronto from 2000 To 2021', 'Midtown Neighbourhoods', 'Price')
plt.show()

/var/folders/x_/ydj0f5hs4hz8394ld3jxyr7h0000gp/T/ipykernel_6943/2841404798.py:14: UserWarning: FixedFormatter should only be used together with FixedLocator
  plt.gca().set_yticklabels(['$' + '{:,.0f}'.format(x) for x in current_values])
/var/folders/x_/ydj0f5hs4hz8394ld3jxyr7h0000gp/T/ipykernel_6943/2841404798.py:14: UserWarning: FixedFormatter should only be used together with FixedLocator
  plt.gca().set_yticklabels(['$' + '{:,.0f}'.format(x) for x in current_values])
/var/folders/x_/ydj0f5hs4hz8394ld3jxyr7h0000gp/T/ipykernel_6943/2841404798.py:14: UserWarning: FixedFormatter should only be used together with FixedLocator
  plt.gca().set_yticklabels(['$' + '{:,.0f}'.format(x) for x in current_values])
/var/folders/x_/ydj0f5hs4hz8394ld3jxyr7h0000gp/T/ipykernel_6943/2841404798.py:14: UserWarning: FixedFormatter should only be used together with FixedLocator
  plt.gca().set_yticklabels(['$' + '{:,.0f}'.format(x) for x in current_values])
/var/folders/x_/ydj0f5hs4hz8394ld3jxyr7h0000gp/T/ipykernel_6943/2841404798.py:14: UserWarning: FixedFormatter should only be used together with FixedLocator
  plt.gca().set_yticklabels(['$' + '{:,.0f}'.format(x) for x in current_values])

In [165]:
#prompt user for year and region to display data accordingly
import matplotlib.pyplot as plt
import random
from random import randint
import numpy as np
#import mlpcursors


validInput = False
errMessage = ''
while validInput == False:
    userYear1 = int(input(errMessage + "Enter first year between 2000 to 2021:")) #converts user input to an integer and stores the remainder of division by 2000
    errMessage = ''
    if userYear1 in range(2000,2022,1):
        userYear1 = userYear1 %2000
        break
    else:
        errMessage = 'Invalid Input. Please '
    
while validInput == False:   
    userYear2 = int(input(errMessage + "Enter second year between 2000 to 2021:")) #converts user input to an integer and stores the remainder of division by 2000
    errMessage = ''
    if userYear2 in range(2000,2022,1):
        userYear2 = userYear2 %2000
        break
    else:
        errMessage = 'Invalid Input. Please '

while validInput == False:
    userRegion = input(errMessage + "Enter the region (north/south/east/west/midtown)")
    userRegion = userRegion.lower()
    if userRegion == 'north' or userRegion == 'west' or userRegion == 'east' or userRegion == 'south' or userRegion == 'midtown':
        break
    else:
        errMessage = 'Invalid Input. Please '


createPlot()
cSize = []
nPriceCount = np.arange(17)

if userRegion == 'north':
    for i in nPriceCount:
        cSize.append(((int(nPdataFrame[userYear1][1][i]))/500))
    
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.scatter(nPriceCount, nPdataFrame[userYear1][1], s=cSize, c= lineColor , alpha = 0.5)
    
    cSize = []
    for i in nPriceCount:
        cSize.append(((int(nPdataFrame[userYear2][1][i]))/500))
        
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.scatter(nPriceCount, nPdataFrame[userYear2][1], s=cSize, c= lineColor , alpha = 0.5)
    
    
    graphTitle = 'Home Prices In '+str(nPdataFrame[userYear1][0])+' VS ' + str(nPdataFrame[userYear2][0])+ ' in Different Neighbourhoods of North Toronto'

    formatPlot(graphTitle,'North Neighbourhoods', 'Price')
    plt.show()

elif userRegion == 'west':
    cSize = []
    wPriceCount = np.arange(15)
    for i in wPriceCount:
        cSize.append(((int(wPdataFrame[userYear1][1][i]))/500))
    
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.scatter(wPriceCount, wPdataFrame[userYear1][1], s=cSize, c= lineColor , alpha = 0.7)
    
    cSize = []
    for i in wPriceCount:
        cSize.append(((int(wPdataFrame[userYear2][1][i]))/500))
        
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.scatter(wPriceCount, wPdataFrame[userYear2][1], s=cSize, c= lineColor , alpha = 0.7)
    
    
    graphTitle = 'Home Prices In '+str(wPdataFrame[userYear1][0])+' VS ' + str(wPdataFrame[userYear2][0])+ ' in Different Neighbourhoods of West Toronto'

    formatPlot(graphTitle,'West Neighbourhoods', 'Price')
    plt.show()

elif userRegion == 'east':
    cSize = []
    ePriceCount = np.arange(13)
    for i in ePriceCount:
        cSize.append(((int(ePdataFrame[userYear1][1][i]))/500))
    
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.scatter(ePriceCount, ePdataFrame[userYear1][1], s=cSize, c= lineColor , alpha = 0.5)
    
    cSize = []
    for i in ePriceCount:
        cSize.append(((int(ePdataFrame[userYear2][1][i]))/500))
        
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.scatter(ePriceCount, ePdataFrame[userYear2][1], s=cSize, c= lineColor , alpha = 0.5)
    
    
    graphTitle = 'Home Prices In '+str(ePdataFrame[userYear1][0])+' VS ' + str(ePdataFrame[userYear2][0])+ ' in Different Neighbourhoods of East Toronto'

    formatPlot(graphTitle,'East Neighbourhoods', 'Price')
    plt.show()

elif userRegion == 'south':
    cSize = []
    sPriceCount = np.arange(15)
    for i in sPriceCount:
        cSize.append(((int(sPdataFrame[userYear1][1][i]))/500))
    
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.scatter(sPriceCount, sPdataFrame[userYear1][1], s=cSize, c= lineColor , alpha = 0.7)
    
    cSize = []
    for i in sPriceCount:
        cSize.append(((int(sPdataFrame[userYear2][1][i]))/500))
        
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.scatter(sPriceCount, sPdataFrame[userYear2][1], s=cSize, c= lineColor , alpha = 0.7)
    
    
    graphTitle = 'Home Prices In '+str(sPdataFrame[userYear1][0])+' VS ' + str(sPdataFrame[userYear2][0])+ ' in Different Neighbourhoods of South Toronto'

    formatPlot(graphTitle,'South Neighbourhoods', 'Price')
    plt.show()

elif userRegion == 'midtown':
    cSize = []
    mPriceCount = np.arange(15)
    for i in mPriceCount:
        cSize.append(((int(mPdataFrame[userYear1][1][i]))/500))
    
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.scatter(mPriceCount, mPdataFrame[userYear1][1], s=cSize, c= lineColor , alpha = 0.7)
    
    cSize = []
    for i in mPriceCount:
        cSize.append(((int(mPdataFrame[userYear2][1][i]))/500))
        
    lineColor ='#'+str("%06x" % random.randint(0, 0xFFFFFF))
    plt.scatter(mPriceCount, mPdataFrame[userYear2][1], s=cSize, c= lineColor , alpha = 0.7)
    
    
    graphTitle = 'Home Prices In '+str(mPdataFrame[userYear1][0])+' VS ' + str(mPdataFrame[userYear2][0])+ ' in Different Neighbourhoods of Midtown Toronto'

    formatPlot(graphTitle,'Midtown Neighbourhoods', 'Price')
    plt.show()

/var/folders/x_/ydj0f5hs4hz8394ld3jxyr7h0000gp/T/ipykernel_6943/2841404798.py:14: UserWarning: FixedFormatter should only be used together with FixedLocator
  plt.gca().set_yticklabels(['$' + '{:,.0f}'.format(x) for x in current_values])
No artists with labels found to put in legend.  Note that artists whose label start with an underscore are ignored when legend() is called with no argument.